{% extends 'base.html' %}

{% block content  %}

<!DOCTYPE html>
<html lang="en">

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="{% if doctor.image %}{{ doctor.image.url }}{% else %}{% if doctor.gender == 'F' %} /static/img/2woman_default_image.jpg{%else%}/static/img/man_default_image.jpeg{% endif %}{% endif %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h1 class="display-4">Dr. {{ doctor.first_name }} {{ doctor.last_name }}</h1>
                        <h6 class="fw-normal fst-italic text-primary mb-4">{% if doctor.seniority %}{{ doctor.specialization }}{% endif %}</h6>
                    </div>
                    <p>
                        {% if doctor.date_of_birth %}{{ doctor.first_name }} {{ doctor.last_name }} was born in {{ doctor.date_of_birth }}.<br>{% endif %}
                        {% if doctor.university and doctor.university != '' %}Graduated from {{ doctor.university }}.<br>{% endif %}
                        {% if doctor.seniority %}Engaged in medical practice for over {{ doctor.seniority }} years.<br>{% endif %}
                        {% if doctor.scientific_degree %}Has a {{ doctor.scientific_degree }} degree.<br>{% endif %}
                    </p>

                </div>
            </div>
            <div class="text-center">
                <a href="javascript:history.back()" class="btn btn-primary mt-4">Back to the list of doctors</a>
            </div>
        </div>
    </div>
    <!-- About End -->

{% endblock  %}

