{% extends 'base.html' %}
{% load extras %}

{% block content %}
<!-- Search Result Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row g-5">
      {% for doctor in doctors_list %}
      <!--  item in page_obj -->
      <div class="col-lg-6 team-item">
        <div class="row g-0 bg-light rounded overflow-hidden">
          <div class="col-12 col-sm-5 h-100">
            <img class="img-fluid h-100" src="{% if doctor.image %}{{ doctor.image.url }}{% else %}{% if doctor.gender == 'F' %} /static/img/woman_default_image.jpg{%else%}/static/img/man_default_image.jpeg{% endif %}{% endif %}" style="object-fit: cover;">
          </div>
          <div class="col-12 col-sm-7 h-100 d-flex flex-column">
            <div class="mt-auto p-4">
              <h3>{{ doctor.first_name }} {{ doctor.last_name }}</h3>
              <h6 class="fw-normal fst-italic text-primary mb-4">{% if doctor.seniority %}{{ doctor.specialization }}{% endif %}</h6>
              <p class="m-0">{% if doctor.seniority %}Seniority: {{ doctor.seniority }} years{% endif %}<br>{% if doctor.scientific_degree %}Scientific degree: {{ doctor.scientific_degree }}{% endif %}</p>
            </div>
            <div class="d-flex mt-auto border-top p-4">
              <a href="{% url 'doctors:detail' doctor.pk %}" class="btn btn-primary">Detailed</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Search Result End -->

{% include 'layouts/pagination.html' with page_obj=doctors_list %}

{% endblock %}
