{% extends 'base.html' %}

{% block content  %}

<!DOCTYPE html>
<html lang="en">

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="/static/img/about_building.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Us</h5>
                        <h1 class="display-4">Best Medical Care For Yourself and Your Family</h1>
                    </div>
                    <p>
                        Grigor Tatevatsi Medical Center, the largest medical institution in the Republic of Armenia, provides the population with comprehensive and highly skilled healthcare services in line with international standards. Through the expertise of its specialists, scientific research, clinical practice, and educational initiatives, as well as collaborations with leading medical institutions and the consistent implementation of cutting-edge technologies from renowned companies like Pfizer, Roche, Dreger, Siemens, and Storz, our medical center has gained widespread recognition both within and beyond our country's borders.
                        <br>
                        <br>
                        The distinguishing feature of Grigor Tatevatsi Medical Center lies in its professional medical staff, actively engaged in partnerships with leading clinics in Europe and the USA, where our specialists receive regular training. Furthermore, the center actively collaborates with medical centers in various Armenian provinces, organizing charitable visits, as well as conducting seminars, conferences, and knowledge-sharing programs with local specialists.
                        <br>
                        <br>
                        Grigor Tatevatsi Medical Center represents a new era in Armenia's healthcare system and strives to become the best. It sets a high standard for the healthcare sector in the Republic of Armenia.
                    </p>
                    <div class="row g-3 pt-3">
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                                <h6 class="mb-0">Qualified<small class="d-block text-primary">Doctors</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                                <h6 class="mb-0">Caring<small class="d-block text-primary">Attitude</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                                <h6 class="mb-0">Detailed<small class="d-block text-primary">Examinations</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                                <h6 class="mb-0">Emergency<small class="d-block text-primary">Examinations</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

{% endblock  %}