{% extends 'base.html' %}
{% block content  %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
      <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
          <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Any Questions?</h5>
          <h1 class="display-4">Please Feel Free To Contact Us</h1>
        </div>
        <br><br><br><br>
        <div class="row justify-content-center position-relative" style="margin-top: -200px; z-index: 1;">

          <div class="row g-5 mb-5">
            <div class="col-lg-4">
              <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 200px;">
                <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(-15deg);">
                  <i class="fa fa-2x fa-location-arrow text-white" style="transform: rotate(15deg);"></i>
                </div>
                <h6 class="mb-0">Hakob Hakobyan 3, Yerevan, Armenia</h6>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 200px;">
                <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(-15deg);">
                  <i class="fa fa-2x fa-phone text-white" style="transform: rotate(15deg);"></i>
                </div>
                <h6 class="mb-0">+374 44 188 141</h6>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center" style="height: 200px;">
                <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4" style="width: 100px; height: 70px; transform: rotate(-15deg);">
                  <i class="fa fa-2x fa-envelope-open text-white" style="transform: rotate(15deg);"></i>
                </div>
                <h6 class="mb-0">tatevatsi@yopmail.com</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12" ;">
              <div class="row justify-content-center position-relative">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12189.829544955499!2d44.4907405!3d40.1988876!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abce69a1b0d77%3A0x31ea9da813693c2e!2sACA(Armenian%20Code%20Academy)!5e0!3m2!1shy!2sam!4v1688896854687!5m2!1shy!2sam" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact End -->

</html>
{% endblock  %}