<!-- Examinations Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5" style="max-width: 500px;">
      <h1 class="display-4">Our Services</h1>
    </div>
    <div class="owl-carousel team-carousel position-relative">

      <!--      MRI 3T-->
      <div class="team-item" style="margin-bottom: 0.5cm;">
        <div class="row g-0 bg-light rounded overflow-hidden">
          <div class="col-12 col-sm-5 h-100">
            <img class="img-fluid h-100" src="static/img/examinations/mri_3t.jpg" style="object-fit: cover; width: 100%; height: 100%;">
          </div>
          <div class="col-12 col-sm-7 h-100 d-flex flex-column">
            <div class="mt-auto p-4">
              <h3>MRI 3T</h3>
              <p class="m-0">Magnetic Resonance Imaging (MRI) at 3 Tesla is a more powerful version of the MRI technology, producing higher resolution images with greater clarity and detail, making it particularly useful in detecting subtle abnormalities, assessing cardiac function, and evaluating musculoskeletal conditions.</p>
            </div>
            <div class="d-flex mt-auto border-top p-4">
              <a class="btn me-3 btn-primary" href="{% url 'examinations:list' %}">Detailed</a>
            </div>
          </div>
        </div>
      </div>

      <!--      MRI 1.5T-->
      <div class="team-item" style="margin-bottom: 0.5cm;">
        <div class="row g-0 bg-light rounded overflow-hidden">
          <div class="col-12 col-sm-5 h-100">
            <img class="img-fluid h-100" src="static/img/examinations/mri_1_5t.jpg" style="object-fit: cover; width: 100%; height: 100%;">
          </div>
          <div class="col-12 col-sm-7 h-100 d-flex flex-column">
            <div class="mt-auto p-4">
              <h3>MRI 1.5T</h3>
              <p class="m-0">Magnetic Resonance Imaging (MRI) at 1.5 Tesla is a non-invasive imaging technique that uses a magnetic field and radio waves to create detailed images of the body's organs and tissues, providing valuable information for diagnosing conditions such as tumors, brain disorders, and joint injuries.</p>
            </div>
            <div class="d-flex mt-auto border-top p-4">
              <a class="btn me-3 btn-primary" href="{% url 'examinations:list' %}">Detailed</a>

            </div>
          </div>
        </div>
      </div>

      <!--      Computed Tomography-->
      <div class="team-item" style="margin-bottom: 0.5cm;">
        <div class="row g-0 bg-light rounded overflow-hidden">
          <div class="col-12 col-sm-5 h-100">
            <img class="img-fluid h-100" src="static/img/examinations/computed_tomography.jpeg" style="object-fit: cover; width: 100%; height: 100%;">
          </div>
          <div class="col-12 col-sm-7 h-100 d-flex flex-column">
            <div class="mt-auto p-4">
              <h3>Computed Tomography</h3>
              <p class="m-0">Computed Tomography (CT) is a medical imaging technique that uses X-rays and computer processing to generate cross-sectional images of the body. It is commonly used to diagnose and monitor conditions such as bone fractures, internal bleeding, and cancer, offering quick and detailed information about the body's internal structures.</p>
            </div>
            <div class="d-flex mt-auto border-top p-4">
              <a class="btn me-3 btn-primary" href="{% url 'examinations:list' %}">Detailed</a>
            </div>
          </div>
        </div>
      </div>

      <!--      X-Ray-->
      <div class="team-item" style="margin-bottom: 0.5cm;">
        <div class="row g-0 bg-light rounded overflow-hidden">
          <div class="col-12 col-sm-5 h-100">
            <img class="img-fluid h-100" src="static/img/examinations/x_ray.jpeg" style="object-fit: cover; width: 100%; height: 100%;">
          </div>
          <div class="col-12 col-sm-7 h-100 d-flex flex-column">
            <div class="mt-auto p-4">
              <h3>X-Ray</h3>
              <p class="m-0">X-ray imaging is a widely used diagnostic technique that utilizes low-dose radiation to create images of the body's internal structures, especially bones. It is commonly used to diagnose fractures, lung infections, and dental issues, providing a quick and accessible way to visualize abnormalities.</p>
            </div>
            <div class="d-flex mt-auto border-top p-4">
              <a class="btn me-3 btn-primary" href="{% url 'examinations:list' %}">Detailed</a>
            </div>
          </div>
        </div>
      </div>

      <!--      Mammography-->
      <div class="team-item" style="margin-bottom: 0.5cm;">
        <div class="row g-0 bg-light rounded overflow-hidden">
          <div class="col-12 col-sm-5 h-100">
            <img class="img-fluid h-100" src="static/img/examinations/mammography.jpg" style="object-fit: cover; width: 100%; height: 100%;">
          </div>
          <div class="col-12 col-sm-7 h-100 d-flex flex-column">
            <div class="mt-auto p-4">
              <h3>Mammography</h3>
              <p class="m-0">Mammography is a specialized X-ray imaging technique used to screen and diagnose breast cancer. It involves compressing the breast between two plates and capturing detailed images to detect early signs of breast abnormalities, allowing for early detection and improved treatment outcomes.</p>
            </div>
            <div class="d-flex mt-auto border-top p-4">
              <a class="btn me-3 btn-primary" href="{% url 'examinations:list' %}">Detailed</a>

            </div>
          </div>
        </div>
      </div>

      <!--      Ultrasound-->
      <div class="team-item" style="margin-bottom: 0.5cm;">
        <div class="row g-0 bg-light rounded overflow-hidden">
          <div class="col-12 col-sm-5 h-100">
            <img class="img-fluid h-100" src="static/img/examinations/ultrasound.png" style="object-fit: cover; width: 100%; height: 100%;">
          </div>
          <div class="col-12 col-sm-7 h-100 d-flex flex-column">
            <div class="mt-auto p-4">
              <h3>Ultrasound</h3>
              <p class="m-0">Ultrasound imaging, also known as sonography, uses high-frequency sound waves to produce real-time images of the body's organs and tissues. It is commonly used for prenatal care to monitor fetal development, as well as for diagnosing conditions in the abdomen, pelvis, and vascular system, offering a safe and non-invasive method for imaging various body regions.</p>
            </div>
            <div class="d-flex mt-auto border-top p-4">
              <a class="btn me-3 btn-primary" href="{% url 'examinations:list' %}">Detailed</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Examinations End -->