{% extends 'base.html' %}
{% load socialaccount static %}

{% block content  %}

<div class="container py-5">
  <div class="row g-5">
    <div class="col-md-6 offset-md-3">
<form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
    {% csrf_token %}
    {{ login_form.as_p }}
    <br>
    <input class="form-control" type="submit" value="Sign In">
</form>
<button class="btn btn-round form-control">
    <a href="{% url 'auth:register' %}" class="">
        Register
    </a>
</button>
                    <div class="text-center"> <!-- Add a container div with "text-center" class -->
          <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-primary loginBtn loginBtn--google">Sing Up with Google</a>
        </div>
    </div></div></div>
<link href="{% static 'css/registration.css' %}" rel="stylesheet">

{% endblock content %}