{% extends 'base.html' %}
{% load socialaccount static %}

{% block content %}
<div class="container py-5">
  <div class="row g-5">
    <div class="col-md-6 offset-md-3">
      <form class="form-horizontal" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ register_form.as_p }}
        <br>

        <input class="form-control" type="submit" value="Register">

        <div class="text-center"> <!-- Add a container div with "text-center" class -->
          <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-primary loginBtn loginBtn--google">Register with Google</a>
        </div>
      </form>
    </div>
  </div>
</div>

<link href="{% static 'css/registration.css' %}" rel="stylesheet">

{% endblock %}
